doctype html
html
  block head
    include ./includes/head.jade
  body
    block navigation
      nav.navbar.navbar-main.navbar-fixed-top
        .container
          a.navbar-brand.text-bold(href=navbarBrand.link) #{navbarBrand.title}
          button.navbar-toggler.pull-right.hidden-md-up(data-toggle='collapse', data-target='#mobileNav') &#9776;
          ul.nav.navbar-nav.hidden-sm-down
            each nav in navigation
              li.nav-item(class=nav.liclass)
                a.nav-link(href=nav.link, class=nav.class, id=nav.id) #{nav.title}
          .clearfix
          ul#mobileNav.nav.nav-pills.nav-stacked.collapse
            each nav in navigation
              li.nav-item
                a.nav-link(href=nav.link, class=nav.class, id=nav.id) #{nav.title}

    .container
      block content
    block foot
      include ./includes/foot.jade
